* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #161513;
  color: #c5c5c5;
}

/* header part started */

header {
  background-color: #393939;
  width: 100%;
  padding: 0 5vw;
  top: 0.1px;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav a .logo {
  display: flex;
  align-items: center;
}
nav a .logo i {
  font-size: 2.5vw;
  color: #fff;
}

.logo img {
  width: 5.208333333333333vw;
}
a {
  text-decoration: none;
}
.navbar {
  display: flex;
}
.navbar div {
  padding: 1.953125vw 1.3020833333333333vw;
}
.navbar a {
  color: #fff;
}

/* header part ended */

/* section part started */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 1.208333333333333vw 1.3020833333333333vw;
  text-align: center;
}

.jagat img {
  width: 10.341145833333332vw;
  height: 10.341145833333332vw;
  margin-top: 2vw;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.about-text {
  width: 95%;
  margin: 1.953125vw auto;
  color: #fff;
}
.about-text h1 {
  font-size: 3.5807291666666665vw;
}
.about-text h1 > span {
  background: var(
    --Primary-Gradient,
    linear-gradient(116deg, #ff8660 71.79%, #9a33ff 95.51%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-text p {
  font-size: 1.171875vw;
  margin-top: 1.953125vw;
}
.about-btn {
  margin-top: 1.953125vw;
}
.btn1 {
  width: 12.6953125vw;
  height: 4.166666666666667vw;
  border-radius: 3.2552083333333335vw;
  border: 1px solid var(--Primary-Color, #fff);
  background: linear-gradient(
      0deg,
      var(--Primary-Color, #fff) 0%,
      var(--Primary-Color, #fff) 100%
    ),
    var(--Primary-Color, #fff);
  font-size: 1.4322916666666667vw;
  color: #000;
  margin-right: 1vw;
}
.btn2 {
  width: 12.6953125vw;
  height: 4.166666666666667vw;
  border-radius: 3.2552083333333335vw;
  background: none;
  border: 0.13020833333333334vw solid #fff;
  /* background-color: #ff8660; */
  font-size: 1.4322916666666667vw;
  color: #fff;
}
.btn2 a {
  color: #fff;
}
.skills-heading {
  height: 3.2vw;
  width: 15vw;
  /* background-color: #1373d1; */
  font-size: 2vw;
  border: 2px solid #fff;
  border-radius: 1vw;
  display: flex;
  justify-content: center;
  margin-left: 3vw;
}
.design-btn {
  justify-content: flex-start;
  padding-left: 1vw;
}
.experiance-with {
  margin-top: 1vw;
  height: 40vw;
  width: 100%;
}
.experiance-with h2 {
  font-size: 2vw;
  color: #40d3ef;
  margin-bottom: 3vw;
  letter-spacing: 2vw;
}
.experiance-with-lang {
  display: flex;
  width: 100%;
  margin: 3.2552083333333335vw auto;
  gap: 2vw;
  /* background-color: red; */
}
.experiance-with-lang div {
  background-color: #fff;
  margin-left: 3vw;
  border-radius: 0.5vw;
}
.experiance-with-lang img {
  width: 4.5vw;
  height: 4.3vw;
  border-radius: 1vw;
  cursor: pointer;
  padding: 0.2vw;
  margin-top: 0.4vw;
}
.primary-heading {
  text-align: center;
  font-size: 2.2786458333333335vw;
  margin-bottom: 2.5vw;
}
.primary-heading h5 {
  font-size: 1.5vw;
  letter-spacing: 0.3vw;
}
.primary-heading h2 {
  letter-spacing: 1vw;
}
.primary-heading a {
  background: var(
    --Orange-Gradient,
    linear-gradient(180deg, #ff8660 0%, #d5491d 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.projects-container {
  background-color: #222222;
  height: 52vw;
  width: 100%;
}
.projects {
  height: 34%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw;
  background-color: #fff;
}
.project1 {
  height: 12vw;
  width: 19.5vw;
  object-fit: cover;
  /* background-color: #F5774F; */
  border-radius: 1vw;
  box-shadow: -30px 30px 30px rgba(0, 0, 0, 0.3);
}
.project1 video {
  height: 13vw;
  width: 22vw;
  object-fit: cover;
  /* background-color: red; */
  border-radius: 1vw;
}
.project-title {
  line-height: 0.9765625vw;
  color: #fff;
  padding: 0.5vw 1vw;
  border-radius: 0.5vw;
  text-align: start;
}
.project-title p {
  font-size: 0.6510416666666666vw;
}
.project-title h3 {
  font-size: 0.9369791666666667vw;
  font-weight: 300;
}
.project-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.all-project-btn {
  height: 5vw;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1vw;
  margin-top: 1vw;
}
.all-project-btn h5 {
  font-size: 2vw;
  color: #fff;
}
.all-project-btn i {
  font-size: 3vw;
  color: #6df4bc;
  font-weight: 900;
}

.experience-wraper {
  background-color: #222222;
}
.primary-experience {
  margin-top: 1vw;
  background: var(
    --Blue-Gradient,
    linear-gradient(180deg, #5badff 0%, #1373d1 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.experience-item {
  margin-bottom: 2vw;
}
.experience-title-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.experience-title-container .date {
  margin-left: auto;
}
.experience-title-container img {
  height: 2.6041666666666665vw;
  width: 2.6041666666666665vw;
  object-fit: cover;
}
.experience-title {
  color: #fff;
  font-size: 1.4322916666666667vw;
  font-weight: bold;
  margin-left: 0.6510416666666666vw;
}

footer {
  background-color: #393939;
}
.footer-container {
  width: 90%;
  margin: 0 auto;
  padding: 1.208333333333333vw 1.3020833333333333vw;
}
.footer-container h2 {
  color: #fff;
  text-align: center;
  font-size: 1.5625vw;
  margin-bottom: 1.3020833333333333vw;
}
.footer-container p {
  text-align: center;
  font-size: 1.0765625vw;
}
.socialmedia {
  height: 5vw;
  width: 100%;
  /* background-color: red; */
  margin-top: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact1 {
  height: 8vw;
  width: 25%;
}
.contact2 {
  height: 8vw;
  width: 22%;
}
.social_link {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.social_link a {
  text-decoration: none;
  color: #fff;
}
.social_link i {
  font-size: 2.2vw;
}
.github {
  float: inline-end;
}
.linkedin {
  float: inline-end;
}
.instagram {
  float: inline-end;
}

.creator-sign {
  height: 3vw;
  width: 100%;
  text-align: center;
  font-size: 1.3vw;
  background-color: #393939;
  /* background-color: red; */
}

/* responsiveness started */

@media (max-width: 1000px) {
  header {
    background-color: #393939;
    width: 100%;
    padding: 0 5vw;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a .logo {
    display: flex;
    align-items: center;
  }
  nav a .logo i {
    font-size: 6.5vw;
    color: #fff;
  }

  .logo img {
    width: 15.208333333333333vw;
  }
  a {
    text-decoration: none;
  }
  .navbar {
    display: flex;
  }
  .navbar div {
    padding: 1.953125vw 1.3020833333333333vw;
  }
  .navbar a {
    font-size: 3vw;
    font-weight: 500;
    color: #fff;
  }

  /* header part ended here */

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 1.208333333333333vw 1.3020833333333333vw;
    text-align: center;
  }

  .jagat img {
    width: 30.341145833333332vw;
    height: 30.341145833333332vw;
    margin-top: 5vw;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
  .about-text {
    width: 100%;
    color: #fff;
  }
  .about-text h1 {
    font-size: 5.5807291666666665vw;
  }
  .about-text h1 > span {
    background: var(
      --Primary-Gradient,
      linear-gradient(116deg, #ff8660 71.79%, #9a33ff 95.51%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .about-text p {
    font-size: 2.571875vw;
    margin-top: 1.953125vw;
  }
  .about-btn {
    margin-top: 1.953125vw;
  }
  .btn1 {
    width: 20.6953125vw;
    height: 7.166666666666667vw;
    border-radius: 3.2552083333333335vw;
    border: 1px solid var(--Primary-Color, #fff);
    background: linear-gradient(
        0deg,
        var(--Primary-Color, #fff) 0%,
        var(--Primary-Color, #fff) 100%
      ),
      var(--Primary-Color, #fff);
    font-size: 2.4322916666666667vw;
    color: #000;
    margin-right: 1vw;
  }
  .btn2 {
    width: 20.6953125vw;
    height: 7.166666666666667vw;
    border-radius: 3.2552083333333335vw;
    background: none;
    border: 0.13020833333333334vw solid #fff;
    font-size: 2.4322916666666667vw;
    color: #fff;
  }
  .btn2 a {
    color: #fff;
  }
  .skills-heading {
    height: 6.9vw;
    width: 29vw;
    font-size: 3.5vw;
    border: 2px solid #fff;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    margin-left: 3vw;
  }
  .experiance-with {
    margin-top: 1vw;
    height: 60vw;
    width: 100%;
    background-color: #2222226e;
    /* background-color: red; */
  }
  .experiance-with h2 {
    font-size: 4.5vw;
    color: #40d3ef;
    margin-bottom: 3vw;
    letter-spacing: 2vw;
  }
  .experiance-with-lang {
    display: flex;
    width: 100%;
    margin: 3.2552083333333335vw auto;
    gap: 2vw;
    /* background-color: red; */
  }
  .experiance-with-lang div {
    background-color: #fff;
    margin-left: 3vw;
    border-radius: 0.5vw;
  }
  .experiance-with-lang img {
    width: 10.5vw;
    height: 8.3vw;
    border-radius: 1vw;
    cursor: pointer;
    padding: 0.2vw;
    margin-top: 0.4vw;
  }
  .projects-container {
    background-color: #222222;
    height: 63vw;
    width: 100%;
  }
  .projects {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2vw;
    background-color: #fff;
  }
  .project1 {
    height: 12vw;
    width: 19.5vw;
    object-fit: cover;
    /* background-color: #F5774F; */
    border-radius: 1vw;
    box-shadow: -30px 30px 30px rgba(0, 0, 0, 0.3);
  }
  .project1 video {
    height: 13vw;
    width: 22vw;
    border-radius: 1vw;
  }
  .project-title {
    line-height: 0.9765625vw;
    color: #fff;
    padding: 0.5vw 1vw;
    border-radius: 0.5vw;
    text-align: start;
    /* background-color: #222222; */
  }
  .project-title p {
    font-size: 0.6510416666666666vw;
  }
  .project-title h3 {
    font-size: 0.9369791666666667vw;
    font-weight: 300;
  }
  .project-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .all-project-btn {
    height: 4vw;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1vw;
    margin-top: 4vw;
  }
  .all-project-btn h5 {
    font-size: 4vw;
    font-weight: 100;
    color: #fff;
  }
  .all-project-btn i {
    font-size: 5vw;
    color: #6df4bc;
    font-weight: 900;
  }
  .primary-heading {
    text-align: center;
    font-size: 3.7vw;
    margin-bottom: 2.5vw;
  }
  .primary-heading h5 {
    font-size: 2.5vw;
    letter-spacing: 0.3vw;
  }
  .primary-heading h2 {
    letter-spacing: 1vw;
  }
  .primary-heading a {
    background: var(
      --Orange-Gradient,
      linear-gradient(180deg, #ff8660 0%, #d5491d 100%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .primary-experience {
    margin-top: 4vw;
    background: var(
      --Blue-Gradient,
      linear-gradient(180deg, #5badff 0%, #1373d1 100%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .experience-item {
    margin-bottom: 2vw;
  }
  .experience-item p {
    font-size: 2.571875vw;
    margin-top: 1.953125vw;
  }
  .experience-title-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: red; */
  }
  .experience-title-container .date {
    margin-left: auto;
    font-size: 2.5vw;
  }
  .experience-title-container img {
    height: 5.6041666666666665vw;
    width: 5.6041666666666665vw;
    object-fit: cover;
  }
  .experience-title {
    color: #fff;
    font-size: 2.8322916666666667vw;
    font-weight: bold;
    margin-left: 0.6510416666666666vw;
  }

  footer {
    /* background-color: #9a33ff; */
    background-color: #393939;
  }
  .footer-container {
    margin: 0 auto;
    padding: 1.208333333333333vw 1.3020833333333333vw;
  }
  .footer-container h2 {
    color: #fff;
    font-size: 4.5625vw;
    margin-bottom: 1.3020833333333333vw;
  }
  .footer-container p {
    text-align: center;
    font-size: 2.571875vw;
  }
  .socialmedia {
    height: 17vw;
    width: 100%;
    /* background-color: red; */
    margin-top: 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .contact1 {
    height: 17vw;
    width: 45%;
    /* background-color: rgb(0, 255, 140); */
  }
  .contact2 {
    height: 17vw;
    width: 45%;
    /* background-color: rgb(0, 38, 255); */
  }
  .social_link {
    display: flex;
    align-items: center;
    gap: 1vw;
  }
  .social_link a {
    text-decoration: none;
    color: #fff;
    font-size: 3vw;
  }
  .social_link i {
    font-size: 5vw;
  }
  .github {
    float: inline-end;
  }
  .linkedin {
    float: inline-end;
  }
  .instagram {
    float: inline-end;
  }
  .creator-sign {
    height: 7vw;
    width: 100%;
    text-align: center;
    font-size: 3vw;
    /* background-color: red; */
  }
}

/* project page coding started */

.all-project {
  height: 110vw;
  width: 100%;
  /* background-color: #5badff; */
  margin-top: 5vw;
}
.project-heading {
  width: 100%;
  font-size: 3vw;
  position: fixed;
  letter-spacing: 2vw;
  top: 6vw;
  color: #c5c5c532;
  text-align: center;
  /* background-color: red; */
}
.blank {
  height: 0.1vw;
  width: 100%;
}
.project-row1 {
  height: 25vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2vw;
  /* background-color: #9a33ff; */
}
.project-row2 {
  height: 25vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: #33ffad; */
  margin-bottom: 2vw;
}
.project-row3 {
  height: 25vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: #33ffad; */
  margin-bottom: 2vw;
}
.project-row4 {
  height: 25vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: #33ffad; */
  margin-bottom: 2vw;
}
.project-block {
  height: 25vw;
  width: 45%;
  border-radius: 1vw;
  background-color: #222222;
}
.project-block video {
  height: 90%;
  width: 100%;
  object-fit: cover;
  border-radius: 1vw;
}
.project-block p {
  font-size: 1vw;
  font-weight: 500;
  color: white;
  margin-left: 1vw;
}
.project-block .project-name {
  display: flex;
  text-decoration: none;
  color: white;
  margin-left: 1vw;
}
.project-block i {
  font-size: 2vw;
  margin-right: 1vw;
}

@media (max-width: 1000px) {
  .all-project {
    height: 145vw;
    width: 100%;
    /* background-color: #5badff; */
    margin-top: 18vw;
  }
  .project-heading {
    width: 100%;
    font-size: 6vw;
    position: fixed;
    letter-spacing: 2vw;
    top: 20vw;
    color: #c5c5c532;
    text-align: center;
    /* background-color: red; */
  }
  .blank {
    height: 1vw;
    width: 100%;
  }
  .project-row1 {
    height: 30vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 4vw;
    /* background-color: #9a33ff; */
  }
  .project-row2 {
    height: 30vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: #33ffad; */
    margin-bottom: 4vw;
  }
  .project-row3 {
    height: 30vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: #33ffad; */
    margin-bottom: 4vw;
  }
  .project-row4 {
    height: 30vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: #33ffad; */
    margin-bottom: 4vw;
  }
  .project-block {
    height: 32vw;
    width: 48%;
    border-radius: 1vw;
    background-color: #222222;
  }
  .project-block video {
    height: 90%;
    width: 100%;
    object-fit: cover;
    border-radius: 1vw;
  }
  .project-block p {
    font-size: 1.9vw;
    font-weight: 500;
    color: white;
    margin-left: 1vw;
  }
  .project-block .project-name {
    display: flex;
    text-decoration: none;
    color: white;
    margin-left: 1vw;
  }
  .project-block h3 {
    font-size: 2vw;
  }
  .project-block i {
    font-size: 4vw;
    margin-right: 1vw;
  }

  .more-projects-wraper {
    height: 7vw;
    width: 100%;
    /* background-color: #1373d1; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .more-projects {
    height: 7vw;
    width: 30vw;
    background-color: #6df4bc;
    /* text-align: center; */
    border-radius: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .more-projects h5 {
    font-size: 2.5vw;
    color: #000;
    font-weight: 600;
  }
}

/* project page coding ended here */

/* contact page coding started here */

.contact-paragraph {
  height: 40vw;
  width: 100%;
  text-align: center;
  font-size: 4.9vw;
  color: #ffffff;
  padding: 4vw;
  /* background-color: #1373d1; */
}
.contact-paragraph h2 .email-contact {
  color: #fc626a;
}
.contact-paragraph h2 .instagram-contact {
  color: #f6ba53;
}
.contact-paragraph h2 .linkedin-contact {
  color: #51cde7;
}

@media (max-width: 1000px) {
  .footer-contact {
    margin-top: 1vw;
    /* background-color: red; */
  }
  .contact-paragraph {
    height: 54vw;
    width: 100%;
    text-align: center;
    font-size: 5.6vw;
    color: #ffffff;
    padding: 4vw;
    /* background-color: #1373d1; */
  }
}
